@font-face {
    font-family: 'sauce';
    src: url('../assets/font/Sauce Tomato.otf');
}

@font-face {
    font-family: 'P-bold';
    src: url('../assets/font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'P-reg';
    src: url('../assets/font/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'P-sBold';
    src: url('../assets/font/Poppins-SemiBold.ttf');
}

.font-sauce{
    font-family: 'sauce',sans-serif;
}


.font-P-bold{
    font-family: 'P-bold', sans-serif;
}


.font-P-reg{
    font-family: 'P-reg',sans-serif;
}

.font-P-sBold{
    font-family: 'P-sBold',sans-serif;
}


.max-w-1200{
    max-width: 1200px;
}

.text-xxs{
    font-size: 0.5rem;
}

#m-onMap {
    visibility: visible;
}

@media  (min-width:768px ) {
    #m-onMap {
        opacity: 0;
        visibility: visible;
        transition: opacity 0.6s ease-in-out, visibility 0s 0.6s;
    }
    #m-mapContainer:hover #m-onMap {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }
}
